parameters:
  level: 8
  paths:
    - src
    - tests
  excludePaths:
    - vendor
    - var
    - tests/bootstrap.php
  ignoreErrors:
    - message: '#Property .+::\$id \(int\|null\) is never assigned int#'
      path: src/Entity/Activity.php
