parameters:
  level: 8
  paths:
    - src
    - tests
  excludePaths:
    - vendor
    - var
    - tests/bootstrap.php
  ignoreErrors:
    # Doctrine entity property initialization
    - '#Access to an undefined property#'
    # Magic getter/setter methods for Doctrine entities
    - '#Call to an undefined method#'
    # Symfony container access
    - '#Access to protected property#'
